<form method="post" action="/students">

<!-- firstname -->
<label for="first-name">First Name:</label>
<input id="first-name" type="text" name="first_name"/>
<!-- lastname -->
<label for="last-name">Last Name:</label>
<input id="last-name" type="text" name="last_name"/>

<!-- houses -->
<label for="house-select">Select a house:</label>
<select id="house-select" name= "house">
 <option value="<%= @house[0].id %>"><%= @house[0].name %></option>
 <option value="<%= @house[1].id %>"><%= @house[1].name %></option>
 <option value="<%= @house[2].id %>"><%= @house[2].name %></option>
 <option value="<%= @house[3].id %>"><%= @house[3].name %></option>
</select>

<!-- age -->
<label for="age">Age:</label>
<input id="age" type="number" name="age"/>

<input type="submit" value="Save Details"/>

</form>
